<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/whatsapp-logo.ico" type="image/x-icon">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js "></script>

</head>
<body>
    <div class="main-container">
        <header>

        </header>
        <main>
            <div id="app">
                <aside id="chat-list">
                    <div class="heading">
                        <div class="person">
                            <img src="./img/avatar_io.jpg" alt="">
                            <h1>Sofia</h1>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="notifications">
                        <i class="fa-solid fa-bell-slash"></i>
                        <section>
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <a href="">Attiva notifiche desktop</a>
                        </section>
                    </div>
                    <div id="search">
                        <section>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searching">
                        </section>
                    </div>
                    <ul id="list">
                        <li v-for="(chat, index) in contacts" @click="changeChatOpened(index)" v-show="searchingChat(chat)" :class="openedChatIndex == index ? 'opened' : ''">
                            <div class="person">
                                <img :src="chat.avatar + '.jpg'" alt="Avatar image">
                                <section>
                                    <h1>{{ chat.name }}</h1>
                                    <p v-if="chat.messages.length > 0">{{ chat.messages[chat.messages.length - 1].message }}</p>
                                </section>
                                <p v-if="chat.messages.length > 0" class="ora">{{ convertTheDate(chat.messages[chat.messages.length - 1].date) }}</p>
                            </div>
                        </li>
                    </ul>
                </aside>

                <section v-if="isNaN(openedChatIndex)" class="empty-chat">
                    <h1>Ciao!</h1>
                    <p>Clicca su una contatto per visualizzarne i messaggi</p>
                </section>

                <main id="chat-opened" v-else>
                    <div class="heading">
                        <div class="person">
                            <img :src="contacts[openedChatIndex].avatar + '.jpg'" alt="">
                            <section>
                                <h1>{{ contacts[openedChatIndex].name }}</h1>
                                <p>{{ contacts[openedChatIndex].online }}</p>
                            </section>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical" @click="chatOptionsShow">
                                <ul id="chat-options" class="none">
                                    <li @click="deleteChat">Elimina chat</li>
                                    <li @click="deleteAllMessages">Elimina messaggi</li>
                                </ul>
                            </i>
                        </div>
                    </div>
                    <section id="messages">
                        <ul>
                            <li v-for="(message, index) in contacts[openedChatIndex].messages" :class="message.status">
                                <div class="content">
                                    <p>{{ message.message }}</p>
                                    <p class="ora">{{ formatDateTime(message.date) }}</p>
                                    <span class="dropdown">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <ul class="menu">
                                            <li>Message info</li>
                                            <li @click="deleteMessage(index)">Delete message</li>
                                        </ul>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <footer>
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model="newMessage" ref="writeMessage">
                        <i class="fa-solid fa-microphone" v-if="newMessage.length == 0"></i>
                        <i v-else class="fa-solid fa-paper-plane send-message" @click="sendMessage"></i>
                    </footer>
                </main>
            </div>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>